
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

* {
    box-sizing: border-box;
}

/* main {
    text-align: center;
    width: 50px;
    margin: 1em auto; will center the main on the page */
}

h1 {
    background-color: orange;
    font-family: 'Comic Neue', cursive;
    border-bottom: 1px solid blue;
    width: 50em;
    padding: .5rem 1rem;
}

img {
    width: 200px;
    margin: 10px;
 
}

/* table {
    padding: 20%;
   
    border: 20%;
}
 */



