.math-card {
    display: inline-block;
    background-color: goldenrod;
    padding: 10px;
    margin-left: 20px;
    font-family: monospace;
    text-align: right;
    font-size: larger;
}

.first-term {
    margin: .5em;
}

.second-term {
    margin: .5em;
}

.result {
    margin: .5em;
    border-top: 1px solid black;
    font-weight: bold;
    padding-top: .5em;
}