.main-nav, .sub-nav {
    display: flex;
}

.sub-nav {
    margin-bottom: 16px;
}

.main-nav {
    background-color: #44b;
    justify-content: space-between;
    padding-bottom: 3px;
}

.full-width {
    display: none;
}

.short-width {
    display: flex;
}

.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-list a {
    padding: .25em .5em;
    border-right: .5px solid #888;
    font-size: 18px;
}

.nav-list li:last-of-type a {
    border-right: 0;
}


li a {
    color: white;
    text-decoration: none;
    font-family: 'Open sans condensed', sans-serif;
}

li {
    list-style-type: none;
}

.search-form {
    /* background-color: rgba(255, 255, 0, 0.421); */
    display: flex;
    /* width: 100%; */
    flex: 1;
    /* justify-content: flex-end; */
    padding-left: 7px;
}

input {
    display: flex;
    flex: 1;
    /* flex-grow: 1; */
    border-bottom: 1px solid #44b;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: .5rem;
    margin: 1rem 0 1rem 1rem; 
}



button {
    background-color: #44b;
    border-bottom: 5px solid #44b;
    color: white;
    border: 0;
    height: 32.5px;
    width: 2rem;
    margin-top: 1rem;
}
.company-name {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: block;
    text-align: center;
    font-size: 35px;
    color: rgb(59, 59, 150);
    padding-right: 3rem;
    padding-left: 4.5rem;
    padding-top: 1rem;
    font-family: 'IM Fell Great Primer SC', serif;
    /* margin: 2rem; */
}
.credit-offer {
    display: flex;
    color: white;
    background-color: red;
    height: 32.5px;
    padding: .5rem;
    margin: 1rem;
    text-decoration: none;
    width: 10.5rem;
    justify-content: center;
    min-width: 10.5rem;
    font-family: 'Open sans condensed';
    font-size: 18px;
    align-items: center;
}

/* Media Queries */
@media screen and (min-width: 769px) {
    .full-width {
        display: flex;
    }
    .short-width {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .full-width {
        display: none;
    }
    .short-width {
        display: flex;
    }
}
    
